body{
  color:white;
  background:black;
  text-align:center;
}
section{
 width:900px; 
}
form{
  display:inline-block;
  height:3em;
  background:red;
  padding:0.5em;
}
form label{
  display:block;
  margin:auto;
}
form input, form textarea{
  display:block;
  width:100%;
}
#resources form{
  width:450px;
}
#assets form, #paths form{
  width:300px;
}
.ruler{
  width:99%;
  margin:auto;
  display:block;
}
.ruler div{
  display:inline-block;                                  
  width:10%;
  height:0.3em;
  border: 1px solid white;
  border-bottom-color:transparent;
}
